:root {
    --background-box-color: #F3F2ED;
    --default-heading-font: "Poppins", sans-serif;
}

.hero {
    text-align: center;
    background-color: var(--background-box-color);
    padding: 160px 20px;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 96px;
    font-weight: bold;
}

.hero h2 {
    font-family: var(--default-heading-font);
    font-size: 24px;
    line-height: 2;  
}

.hero p {
    font-family: var(--default-heading-font);
    font-size: 36px;
    margin: 0;
}

h3 {
    text-align: center;
    font-family: var(--default-heading-font);
    font-size: 24px;
}

.btn-branding {
    color: white;
    padding: 15px 30px;
    background-color: #215A0C;
}

img {
    width: 500px;
    border-radius: 4px;
    border: 1px solid #F3F2ED;
}

@media (max-width: 576px) {
  .description {
    margin: 0 auto;
  }
}