:root {
    --background-box-color: #F3F2ED;
    --branding-color: #215A0C;
    --default-heading-font: "Poppins", sans-serif;
}

.hero {
    text-align: center;
    background-color: var(--background-box-color);
    padding: 160px 20px;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 96px;
    font-weight: bold;
}

.contact-page-h1 {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    text-align: center;
}

.hero h2 {
    font-family: var(--default-heading-font);
    font-size: 24px;
    line-height: 2;  
}

.hero p {
    font-family: var(--default-heading-font);
    font-size: 36px;
    margin: 0;
}

h3 {
    text-align: center;
    font-family: var(--default-heading-font);
    font-size: 24px;
}

.btn-branding {
    color: white;
    padding: 15px 30px;
    background-color: #215A0C;
}

img {
    width: 500px;
    border-radius: 4px;
    border: 1px solid #F3F2ED;
}

@media (max-width: 576px) {
  .description {
    margin: 0 auto;
  }
  h1 {
    font-size: 56px;
  }
  .me-picture {
    display: none;
  }
  .footer-link {
    display: none;
  }
}

.about-me {
    text-align: center;
    font-size: 28px;
}
.me-picture {
    border-radius: 20px;
}

.brand-logos {
    padding: 20px;
}

h4, h5 {
    text-align: center;
    font-family: var(--default-heading-font);
}

footer .email-address {
    font-size: 48px;
    text-decoration: none;
    color: black;
    
}

footer .email-address a:hover{
    color: var(--branding-color);
transition: all 100ms ease-in-out;
}

footer .social-links a {
    text-decoration: none;
    color: var(--branding-color);
    font-size: 30px;
    background-color: var(--background-box-color);
    margin: 30px;
    padding: 8px 20px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    background-color: var(--branding-color);
    color: var(--background-box-color)
}